<ion-view title="About Us" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/hwh6dISUeWXUoFXz3cwW_HKBU.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="aboutUs-heading1" style="color:#000000;">香港浸會大學</h1>
    <div id="aboutUs-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">香港浸會大學（英語：Hong Kong Baptist University，縮寫HKBU），是一間有基督教浸信會背景的香港法定公立大學，重視教學、研究和社會服務[1]。根據泰晤士高等教育世界大學排名，浸大於2018年位列亞洲第55名[2]，成為亞洲最佳前100所高等學府之一。至於在2018年QS世界大學排名，浸大位列全球第299名[3]。在2018年QS世界大學的分科排名中，浸大地理系位列全球151-200名，宗哲系亦位列全球151-200名[3]。而在2016年世界大學學術排名數學系位列全球151-200名，而計算機科學系更位列全球101-150名[4]。傳理學院最負盛名，轄下新聞系在2011年經Asian
        Correspondent新聞網評定為「亞洲學生心中的全球十大新聞學府」[5]，和榜內的哥倫比亞大學新聞學院齊名，乃校內招生志願的前三名[6]。於九龍仔、畢架山、平山與石門均有校園，簡稱浸大。</p>
    </div>
  </ion-content>
</ion-view>