<ion-view title="Contact us" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        td, th{
            padding: 10px;
        }
      </style>
      <table>
        <tbody>
          <tr>
            <th>Tel:</th>
            <td>(852) 3411 7400</td>
          </tr>
          <tr>
            <th>Fax:</th>
            <td>(852) 2338 7644</td>
          </tr>
          <tr>
            <th>Address:</th>
            <td>Hong Kong Baptist University, Kowloon Tong, Kowloon</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>