<ion-view title="Event Details" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="eventDetails-card23">
      <ion-item class="item-avatar" id="eventDetails-list-item17">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="eventDetails-list-item-container6">
        <div id="eventDetails-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="eventDetails-list-item18">
        <i class="icon ion-music-note"></i>Register</ion-item>
    </div>
  </ion-content>
</ion-view>