<ion-view title="Login" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input2">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="data.username">
        </label>
        <label class="item item-input" id="login-input3">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button ng-click='login()' id="login-button15" class="button button-stable button-block">Log in</button>
    </form>
  </ion-content>
</ion-view>
