<!DOCTYPE html>
<html>
<head>
    <title>Book Tickets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form action="/newBooking" method="post">
        <fieldset>
            <legend>Booking Details</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="">
            </div> 
            <div>
                <label>Website:</label>
                <input type="text" id="website" name="website" value="">
            </div>
            <div>
                <label for="numTickets">No. of Tickets:</label>
                <input type="text" id="numTickets" name="numTickets" value="">
            </div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </fieldset>
    </form>
</body>
</html>
