<!--search.ejs-->
<form action="/person/search" method="GET">
  <div class="form-group">
    <label>Search Name</label>
    <input type="text" class="form-control" name="name" value="">
  </div>
  <div class="form-group">
    <label>Search Age</label>
    <input type="text" class="form-control" name="age" value="">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
